            <div class="main-container">
                <div class="field d-flex justify-content-center" style="width: 100%;">
                    <button mat-raised-button color="accent" class="start-game-button" (click)="startGame()">Start</button>
                </div>
                <div class="field d-flex justify-content-center">
                    <h2 *ngIf="winner">
                         {{ winnerName}} won the game!
                    </h2>
                </div>
                <div style="width: 50%; float: left;" class="game-board">
                    <main>
                        <app-square 
                            *ngFor="let val of squares; let i = index"
                            [value]="val"
                            (click)="makeMove(i)">
                        </app-square>
                        
                    </main>
                    
                </div>
            </div>
