
main {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    max-width: 500px;
    max-height: 500px;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 30px;
}

app-square{
    border: 1px gray solid;
    height: 150px;
}

